@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-size-3: 1136px; /* domyślnie 880px */
  --container-4: 1500px; /* domyślnie 1136px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
